.containerImages {
  position: relative;
  text-align: center;
  color: white;
  float: left;
  width: 75px;
  height: 75px;
}

.customUpload {
  width: 75px;
  height: 75px;
  color: #03a9f4;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}
